services:
  sonarqube:
    image: sonarqube:community
    pull_policy: always
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data_current:/opt/sonarqube/data
      - sonarqube_extensions_current:/opt/sonarqube/extensions
      - sonarqube_logs_current:/opt/sonarqube/logs

volumes:
  sonarqube_data_current:
  sonarqube_extensions_current:
  sonarqube_logs_current:
